@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

h1 {
    margin: 20px auto;
    width: fit-content;
}

.search {
    width : fit-content;
    margin: 50px auto;
}

.search form {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#queryText {
    width: 300px;
    border: none;
    background: none;
    font-family: 'Source Serif Pro', Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

.queryGrey {
    background-color: rgb(71, 71, 71);
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#querySettings {
    border: none;
    border-radius: 0;
    background-color: rgb(71, 71, 71);
    color: white;
    padding: 15px;
    font-family: 'Source Serif Pro', Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}

option {
    border-bottom : white solid 1px;
    font-family: 'Source Serif Pro', Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}

#querySubmit {
    border: none;
    border-radius: 10px;
    background-color: rgb(71, 71, 71);
    color: white;
    padding: 15px;
    cursor: pointer;
}

#querySubmit img {
    width: 20px;
    height: 20px;
}


.recentPosts {
    /* grid-column: 1;
    grid-row: 2; */
    margin: 20px;
}

.recentPosts__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.recentPosts__header h2 {
    width : 400px;
}

.horizontalBar {
    width : 100%;
    border-top: solid 1px black;
    position: relative;
    top: 35px;
}



.articleGrid {
    display : grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 20px;
    gap : 15px;
    justify-items: center;
}

.articlePreview {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border-bottom: dashed grey 1px; */
    padding : 20px 0px;
    width : 800px;
    gap : 15px;
}

.recentPosts p {
    margin: 10px 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}


.articlePreview h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
}

/* .headerImg {
    width: 300px;
    height: 200px;
} */

.headerImg img {
    width: 300px;
    height: 350px;
    object-fit: cover;
}



.articleDomain {
    position: relative;
    right: 25px;
    padding: 5px 10px;
    width: fit-content;
    margin-top: 10px;
}

.articleDomain p {
    margin: 0;
    font-family: 'Noticia Text', Arial, Helvetica, sans-serif;
}

.Chemistry {
    background-color: #0b5e85;
    color: white;
}

.Ecology {
    background-color: rgb(13, 114, 22);
    color: white;
}

.Physics {
    background-color: rgb(65, 65, 65);
    color: white;
}

/* .articleContent {
    position: relative;
    top : -15px;
    margin-bottom : 40px;
    width : 300px;
} */

.articlePublishingDate {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 0.95rem;
}

.articleAbstract {
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
}

/* .articleGridCol {
    display : flex;
    flex-direction: column;
    justify-items: center;
} */

.separator {
    width : 300px;
    border-bottom: grey 1px solid;
    margin: 30px auto;
}