{% extends './base.html' %}

{% block title %}New article | State of the Art{% endblock title %}

{% block nav %}
<a href="{% url 'blog:home' %}">Home</a>
{% endblock %}


{% block content %}
<!-- <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@2.26.5/dist/editor.min.js"></script> -->
{% load static %}
<link rel="stylesheet" href="{% static 'blog/css/newArticle.css' %}">


<form method="POST" action="{% url 'blog:saveArticle' %}" id="saveForm" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="titleWrapper" >
        {{ form.title.errors }} 
        {{ form.title }}
    </div>
    <div class="abstractWrapper" >
        {{ form.abstract.errors }} 
        {{ form.abstract }}
    </div>
    <div class="domainWrapper">
        {{ form.domain.errors }}
        <label for="{{ form.domain.id_for_label }}">Article's area of science : </label>
        {{ form.domain }}

    </div>
    <div class="publishingDateWrapper" >
        {{ form.publishing_date.errors }} 
        <label for="{{ form.publishing_date.id_for_label }}">Article's publishing date : </label>
        {{ form.publishing_date }}
    </div>
    <div class="tagsWrapper">
        <label for="newTag">Add some tags to define your article : </label>
        <input type="text" name="newTag" id="newTag">
        <button type="button" onclick="addTag()" class="tagsButton">+</button>
        <div class="tags"></div>
        <input type="hidden" name="tags" id="tags" value=" ">
    </div>
    <div class="headerImgWrapper" >
        {{ form.header_img.errors }} 
        <label for="{{ form.header_img.id_for_label }}">(Optional) Select an image to illustrate your article : </label>
        {{ form.header_img }}
    </div>
    {{ form.data.as_hidden }}

</form>
<div id="editorjs"></div>


<script type="text/javascript" src="{% static 'blog/js/editor.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/js/header.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/js/image.js' %}"></script>
<script type='text/javascript' src="{% static 'blog/js/newArticle.js' %}"></script>

<button onclick="saveArticle()">Save</button>


{% endblock content %}
